---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
			<img width="150px" src="https://linexic.top/img/logo/logo.jpg" alt="LOGO"></h1>
			<p>
			    Welcome to my personal website!
				
			</p>
			<p>
				This is my personal website and my first attempt to write a description in English.I use
				<code>Astro</code> build my website, i'm learning it and English<br/><br/>
			    My Chinese name is 文心.My usual name is<code>LineXic</code>
			</p>
			<p>Page page is being refined...</p>
			<hr class="solid">
			<h1>Contact</h1>
			<ul>
			<li>
			X: <a href="https://twitter.com/LineXic">LineXic</a>
			</li>
			</ul>
		    <ul>
			<li>
			Discord: <a href="https://discord.com/channels/@me">LineXic</a>
			</li>
			
		</main>
		<Footer />
	</body>
</html>
